@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

body {
    margin: 0;
}
h1 {
    font-size: 2.5rem;
    font-family: 'Kanit', sans-serif;
}
h2 {
    text-align: center;
    margin: 0;
    display: none;
}
.mid .img-header {
    position: relative;
    width: 100%;
    height: 250px;
    background-color: blue;
}

.img-header img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;

}

.mid .banner-header {
    position: absolute;
    background-color: #011f24f1;
    color: #00d9ff;
    max-width: 400px;
    height: 55px;
    border-radius: 15px;

    top: 95px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}

.mid .banner-header h1 {
    margin: 0.35rem;
    line-height: 35px;

    text-align: center;
}